@import "../../assets/css/base";

.modal {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(black, 0.4);
  z-index: 1000;
  justify-content: center;
  align-items: center;

  &-wrapper {
    background: $background-color;
    box-shadow: 0 0 10px 1px $main-color;
    border-radius: 0.5rem;
    padding: 2rem;
    min-width: 23rem;
    text-align: center;
    display: flex;
    flex-direction: column;

    &-title {
      font-weight: 600;
      font-size: 1.2rem;
      margin-bottom: 1.5rem;
    }

    &-body,
    &-body div {
      display: flex;
      flex-direction: column;
    }

    &-body {
      font-weight: 200;
      margin-bottom: 2rem;
      gap: 1.5rem;

      div {
        gap: 0.5rem;
      }

      input {
        width: 100%;
        border-radius: 1rem;
        height: 2rem;
        font-size: 1rem;
        padding-left: 1rem;
      }
    }

    &-button,
    &-buttons {
      display: flex;
      align-items: center;
    }

    &-button {
      justify-content: center;
    }

    &-buttons {
      justify-content: space-between;
      gap: 4rem;
    }
  }

  &_closed {
    width: 2px;
    height: 2px;
    opacity: 0;
  }

  &_opened {
    opacity: 1;
    transition: opacity 0.5s;
  }
}
